@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");
@media all and (max-width: 991px), all and (orientation: portrait){
    @include aoa-bg-series($img__classes--v,$img__aoa--v,0,"center","cover","scroll");
    .agency{
        &-s1,&-s2{
            background-position-y: 40%!important;
        }
    }
}
*{
    font-family: "Raleway";
}
.bg{
    &-black{
        background-color: $color__black!important;
    }
    &-blue{
        background-color: $color__blue!important;
    }
}
.border{
    &-blue{
        border-color: $color__blue!important;
    }
}
.navbar{
    &-logo{
        height: $logo__height;
    }
}
.privacy{
    &-s1{
        background-position-x: right!important;
    }
}
.text{
    &-blue{
        color: $color__blue!important;
    }
    &-shadow{
        text-shadow: $text__shadow;
    }
}
.tours{
    &-s1{
        background-position-y: bottom!important;
    }
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width:767px){
    .navbar{
        &-nav{
            backdrop-filter: blur(5px); 
            background-color: #009eff;
            border: 1px solid darken(#009eff,30%);
            opacity: 0.9;
            padding: 10px;
        }
    }
}